@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
}

/* Estilos para el header */
header {
    background-color: #1300bb; /* color más oscuro como el original */
    padding: 0px;
}

h1 {
    margin: 0px;
    color: #fff;
    font-family: "Lato", cursive;
    font-size: 22px;
    text-align: center;
    vertical-align: middle;
    text-shadow: 2px 2px 4px #000;
}

ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

li {
    float: left;
    color: #fff;
    font-size: 15px;
}

li a {
    float: left;
    display: block;
    color: #ffff;
    font-size: 20px;
    text-decoration: none;
    font-family: "Lato", cursive;
    text-align: center;
    padding: 14px 16px;
    text-shadow: 2px 2px 4px #000;
}

/* Estilo para las secciones */
main {
    display: block;
    width: 100%;
    padding: 40px 10%;
}

/* Sección de la selfie GameBoy Camera */
.selfie-gbc {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.selfie-gbc img {
    image-rendering: pixelated;
    width: 120px; /* Ajusta el tamaño según prefieras */
    height: auto;
    border: 2px solid #fff;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

/* Estilo de las secciones de texto */
.texto-section {
    margin-bottom: 40px;
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

p {
    font-size: 16px;
    color: #333;
}

/* Estilo para la lista de Skills & Interests */
#certif {
    list-style: none;
    padding: 0;
}

#certif li {
    margin-bottom: 10px;
    font-size: 16px;
    color: #333;
}

/* Sección de la imagen de perfil */
#imagen {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

#imagen img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 4px solid #1300bb;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

/* Estilo para el footer */
footer {
    background-color: #1300bb;
    width: 100%;
    font-size: 20px;
    text-align: center;
    padding: 14px 16px;
    font-family: "Lato", cursive;
}

footer a {
    color: #04ADBF;
    text-decoration: none;
    text-shadow: 2px 2px 4px #000;
}

footer figure {
    margin: 20px 0;
}

footer img {
    width: 150px;
    height: 150px;
    border-radius: 8px;
}

/* Estilo para el contacto */
#contacto a {
    margin: 0 10px;
}

#fondo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

/* Capa de sombra sobre el fondo */
.capa {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
    mix-blend-mode: overlay;
}
